body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
	flex-direction: column;
  background-color: whitesmoke;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 80px;
	margin: 0 auto;
}

.LogInBox{
  margin: 25px;
  border-radius: 15px 15px 15px 15px;
  background-color: rgb(255, 233, 205);
}

.LogInInfo{
  font-weight: bold;
  padding: 10px;
  padding-top: 15px;
  margin: 5px;
}




.buttonbox{
 
  padding-bottom: 10px;
}


.Button{
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  font-size: 75%;
  padding: 10px;
  margin: 5px;
  text-align: center;
  color: white;
  background-color: rgb(34, 34, 187);
}

.password{
  padding: 5px;
  margin: 5px;
}

.username{
  padding: 5px;
  margin: 5px;
}

.box{
  margin: 25px;
  padding: 15px;
  border-radius: 15px 15px 15px 15px;
  background-color: rgb(255, 233, 205);
}

.quizbutton{
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  font-size: 75%;
  padding: 10px;
  margin: 5px;
  text-align: center;
  color: white;
  background-color: rgb(36, 127, 247);
}