

.calendar{
    margin-top: 20px;
}

.myNavbar{
    margin-bottom: 0px;
    /* position: relative;
    top:  10px; */
    /* border: 3px solid black; */
}

.username ::placeholder, .password ::placeholder {
        color: black;
}

input:focus {
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important;
  }

.c-chat__form{
    width: 300px;
    /* border: 3px solid black; */
}

.c-chat__form ::placeholder, .password ::placeholder{
    color: black;
}

.chatInput{
    width : 300px;
}
