$mainColor: rgb(105, 218, 85);

.header {
    text-align: center;
    background-color: $mainColor;
  }
  
  .toast {
    margin: 0 auto;
  }
  
  .custom-btn-toolbar {
    display: inline !important;
  }
  
  .custom-btn-toolbar > .btn {
    margin-right: 0.5rem;
  }
  